*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}
.hidden {
	display: none;
}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}
header {
	background-image: url(../img/top_bg.jpg);
	background-repeat: repeat-x;
	background-position: top center;
	min-height: 644px;
	position: relative;
	font-family: 'BebasBold';	
}
header a {
	color: #fff;
}
.top_line {
	min-height: 97px;
	-webkit-box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	box-shadow: rgba(255,255,255,.3) 0 0 0 1px;

	width: 100%;
	background-color: rgba(0,0,0,.6);
	padding: 22px 0;
}
.top_line a {
	font-size: 21px;
	border-bottom: #fff dashed 1px;
}
.top_line a:hover {
    border-bottom: transparent 1px dashed;
    -webkit-transform: all 0.25s;
    -moz-transform: all 0.25s;
    -ms-transform: all 0.25s;
    -o-transform: all 0.25s;
    transform: all 0.25s;
}
.top_addr {	
	padding-left: 50px;
	background-image: url(../img/top_map.png);
	background-repeat: no-repeat;
	background-position: top left;
	line-height: 26px;		
}
.top_addr strong {
	display: block;
	color: #d12f22;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 32px;
}
.top_line .logo {
    border-bottom: none;
	position: absolute;
	margin-top: -12px;
}
.top_line .logo:hover {
    border-bottom: none;
}
.logo_wrap {
    position: relative;
	width: 207px;
	margin: auto;
}
.ta_right {
	background-image: none;
	padding-left: 0;
	text-align: right;
}
.ta_right span {
	color: #fff;
}
header h1 {
	text-align: center;
	color: #fff;
	margin-top: 65px;
	font-size: 40px;
	text-shadow: rgba(0,0,0,0.55) 0 3px;
	font-family:"BebasRegular";
}
.button {
    background-color: #d12f22;
	display: inline-block;
	font-size: 20px;
	height: 50px;
	line-height: 50px;
	padding: 0 25px;
	vertical-align: middle;
	border-bottom:#ac160a 4px solid;
}
.button:hover {
	background-color: #e64437;
}
.button:active {
	background-color: #b81609;
}
header .button {
	margin-left: 20px;
}
.st_button {
	background-image: url("../img/camera_icon.png");
	background-position: 9px 8px;
	background-repeat: no-repeat;
	line-height: 18px;
	padding-left: 63px;
	padding-top: 7px;
	text-align: left;
}
.buttons_top {
	bottom: 32px;
	position: absolute;
	width: 100%;
}
.top_mnu {
	height: 62px;
	background-color: #242424;
	-webkit-box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	-moz-box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	font-family:"BebasRegular";
	text-transform: uppercase;
}
.top_mnu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.top_mnu li {
	float: left;;
}
.top_mnu a {
	color: #FFF;
	font-size: 20px;
	padding: 0 26px 0 54px;
	display: block;
	line-height: 62px;
	border-left:#3b3b3b 1px solid;
	background-image: url(../img/top_mnu_iconset.png);
	background-repeat: no-repeat;
	background-position: 9px 13px;
}
.top_mnu li .active,
.top_mnu li:hover {
	background-color: #050505;
}
.top_mnu li:nth-child(2) a {
	background-position: 9px -76px;
}
.top_mnu li:nth-child(3) a {
	background-position: 18px -138px;
}
.top_mnu li:nth-child(4) a {
	background-position: 8px -202px;
}
.top_mnu li:nth-child(5) a {
	background-position: 6px -263px;
}
.top_mnu li:nth-child(6) a {
	background-position: 9px -330px;
}
.waranty {
	border: 3px solid #fff;
	border-radius: 3px;
	color: #fff;
	cursor: default;
	float: right;
	font-size: 15px;
	padding: 3px 5px;
	line-height:16px;
	margin-top: 9px;
}
.w_left,
.w_right {
	display: inline-block;
	font-family: "RobotoCondensedRegular";
}
.w_left {
	font-family:"BebasBold";
	font-size: 20px;
	margin-right: 7px;
	margin-top: 10px;
}
.w_left span {
	font-size: 34px;
	font-family: "BebasBold";
}
.main_cats {
    background-color: #191919;
    padding: 20px 0 32px;
}
.main_cats h2 {
    text-transform: uppercase;
    color: #c9c9c9;
    font-family:"BebasRegular";
    font-size: 40px;
    text-align: center;

}
.main_cats h2 strong {
    color: #fff;
}
.main_cats h2 span {
    color: #d12f22;
}
section h2 {
    position: relative;
}
.s_black h2::before {
    background-image: url("../img/header_imgset.png");
    content: "";
    height: 20px;
    margin-left: -68px;
    position: absolute;
    top: 20px;
    width: 50px;
}
.s_black h2::after {
    background-image: url("../img/header_imgset.png");
    background-position: -50px 0;
    content: "";
    height: 20px;
    margin-left: 18px;
    position: absolute;
    top: 20px;
    width: 50px;
}
.mc_wrap {
	text-align: center;
	padding: 0;
}
.mc_item {
    border: #353535 1px solid;
    border-radius: 2px;
}
.mc_item span {
	display: block;
	height: 85px;
	width: 130px;
	background-image: url(../img/cat_iconset.png);
	margin: 15px auto 0;
}
.mc_item_wrap {
    width: 160px;
    margin-left: 30px;
	display: inline-block;
    text-align: center;
}
.mc_item_wrap:nth-child(1) {
	margin-left: 0;
}
.mc_item_wrap:nth-child(1) span {
	background-position: 13px 0;
}
.mc_item_wrap:nth-child(2) span {
	background-position: -123px 0;
}
.mc_item_wrap:nth-child(3) span {
	background-position: -259px 0;
}
.mc_item_wrap:nth-child(4) span {
	background-position: -396px 0;
}
.mc_item_wrap:nth-child(5) span {
	background-position: -531px 0;
}
.mc_item_wrap:nth-child(6) span {
	background-position: -666px 0;
}
.mc_item_wrap a {
    color: #fff;
}
.mc_item h4 {
	font-family:"BebasBold";
	font-size: 20px;
	font-weight: normal;
	margin-top: 8px;
}